# Dependencias
node_modules
functions/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Artefactos de Build de Next.js
.next/
out/

# Directorios de Test
coverage

# Cache de editor
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
